<div class="row m-0 justify-content-center">
  <div class="col-lg-10 m-4">
    <div class="text-center" ng-if="vm.carregando">
      <div class="spinner-border" role="status">
      </div>
    </div>
    <div class="card card-accent-primary" ng-if="!vm.carregando">
      <div class="card-body pb-0">
        <div data-ng-hide="!vm.data">
          <table class="table table-responsive-lg">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Data</th>
                <th class="text-center">Valor Bruto</th>
                <th class="text-center">Valor Líquido</th>
                <th class="text-center none-cell">Canal</th>
                <th class="text-center none-cell">Tipo de Pagamento</th>
                <th class="text-center">Detalhes</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.data.items">
                <td class="text-center" ng-bind="item.id"></td>
                <td class="text-center" ng-bind="item.date | datahora"></td>
                <td class="text-center" ng-bind="item.grossAmount | currency: 'R$ '"></td>
                <td class="text-center" ng-bind="item.netAmount | currency: 'R$ '"></td>
                <td class="text-center none-cell" ng-bind="item.channel"></td>
                <td class="text-center none-cell" ng-bind="item.paymentType"></td>
                <td class="text-center">
                  <button type="button" class="btn btn-light btn-sm border border-dark" ng-click="vm.detalhes(item)">
                    <i class="fa fa-search"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-show="!vm.data">
        <div class="col-sm-8 offset-lg-2">
          <div class="card text-white text-center bg-danger mb-5">
            <div class="card-body">
              <h3> Nenhum resultado encontrado!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>